---
layout: default
---
<main>
    <section class="blog-post-ideas-wrapper">
        {% for idea in site.ideas %}
            <section class="blog-post-idea" id="{{idea.id}}" {% if forloop.index == 1 %}style="opacity: 1"{% endif %}>
                <div class="front">
                    <div class="actions">
                        <a href="javascript:seeDetails('{{idea.id}}')" class="see-details"><i class="icon-eye"></i> See Details</a>
                        <a href="javascript:pass('{{idea.id}}')" class="pass">Pass <i class="icon-trash"></i></a>
                    </div>
                    <h2>{{idea.title}}</h2>
                </div>
                <div class="back">
                    <div class="actions">
                        <a href="javascript:claim('{{idea.id}}')" class="claim"><i class="icon-feather"></i> Claim</a>
                        <a href="javascript:pass('{{idea.id}}')" class="pass">Pass <i class="icon-trash"></i></a>
                    </div>
                    <h2>{{idea.title}}</h2>
                    {{idea.content}}
                </div>
            </section>
        {% endfor %}
    </section>
</main>