.blog-post-idea {
    /* cursor: pointer; */
    background: white;
    color: #aaa;
    margin: 3em auto;
    padding: 0 5em;
    width: 80%;
    min-height: calc(100vh - 4rem - 3em + 1em); /* screen height - header height - margin-top + border-radius height */
    height: calc(100vh - 4rem - 3em + 1em); /* screen height - header height - margin-top + border-radius height */
    border-radius: 1em;
    box-shadow: 0 0 5em rgba(85, 85, 85, 0.35); /* #555 */
    transition: all, 1s;
    transition-timing-function: ease-in-out;
    position: relative;
    left: 0;
    opacity: 0;
    top: 0;
}

.blog-post-idea.open {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    margin: 0;
}

.blog-post-idea .front, .blog-post-idea .back {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
    padding: 5em 0;
}

.blog-post-idea .front > *, .blog-post-idea .back > * {
    width: 100%;
}

.blog-post-idea .back {
    display: none;
}

.blog-post-idea .front h2, .blog-post-idea .front textarea {
    align-self: center;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 5em;
    margin: 0;
    transition: color, .25s;
}

.blog-post-idea .back h2 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 3em;
}

.blog-post-idea .back p, .blog-post-idea#add .back textarea {
    font-size: 1.5em;
    font-family: "IBM Plex Sans", sans-serif;
}

.blog-post-idea .actions {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
}

.blog-post-idea .actions > * {
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.blog-post-idea .actions > *.see-details, .blog-post-idea .actions > *.claim, .blog-post-idea .actions > *.add-next, .blog-post-idea .actions > *.add-submit {
    color: hsl(143, 100%, 40%);
}

.blog-post-idea .actions > *.pass, .blog-post-idea .actions > *.add-cancel, .blog-post-idea .actions > *.add-back {
    color: hsl(0, 0%, 40%);
}

.blog-post-idea .actions > button {
    border: none;
    padding: 0;
    font-family: inherit;
    cursor: pointer;
}

/* ADD PAGE */
.blog-post-idea#add {
    /* height: auto; */
}

.blog-post-idea#add textarea {
    color: #aaa;
    border: none;
    border-bottom: 1px solid;
    resize: none;
    /* height: 1.5em; */
    height: 100%;
}

.blog-post-idea#add textarea::placeholder {
    color: #ccc;
}

.blog-post-idea#add textarea:focus, .blog-post-idea .actions > button:focus {
    outline: none;
}