.blog-post-idea {
    /* cursor: pointer; */
    background: white;
    color: #aaa;
    margin: 3em;
    width: 80%;
    height: calc(100vh - 4rem - 3em + 1em); /* screen height - header height - margin-top + border-radius height */
    border-radius: 1em;
    box-shadow: 0 0 5em rgba(85, 85, 85, 0.35); /* #555 */
    transition: all, 1s;
    transition-timing-function: ease-in-out;
    position: relative;
    left: 0;
    opacity: 0;
    top: 0;
    overflow: hidden;
}

.blog-post-idea.open {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    margin: 0;
}

.blog-post-idea .front, .blog-post-idea .back {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5em;
    display: flex;
    flex-wrap: wrap;
    transition: all, 1s;
    transition-timing-function: ease-in-out;
}

.blog-post-idea .front > *, .blog-post-idea .back > * {
    width: 100%;
}

.blog-post-idea .front {
    top: 0;
    opacity: 1;
}

.blog-post-idea .back {
    top: 100%;
    opacity: 0;
    pointer-events: none;
}

.blog-post-idea .front h2 {
    align-self: center;
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 5em;
    margin: 0;
    transition: color, .25s;
}

.blog-post-idea .back h2 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    font-size: 2em;
}

.blog-post-idea .actions {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
}

.blog-post-idea .actions a {
    font-size: 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.blog-post-idea .actions a.see-details, .blog-post-idea .actions a.claim {
    color: hsl(143, 100%, 40%);
}

.blog-post-idea .actions a.pass {
    color: hsl(0, 0%, 40%);
}