header {
    position: fixed;
    height: 4rem;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 10%;
    color: white;
    box-shadow: 0 0 1em rgba(85, 85, 85, 0.35); /* #555 */
    text-shadow: 0 0 1em rgba(85, 85, 85, 0.35); /* #555 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-weight: 300;
}