---
layout: default
title: Blog Post Ideas
---
<main>
    <section class="blog-post-ideas-wrapper">
        {% for idea in site.ideas %}
            {% unless idea.title == page.title %}
            <section class="blog-post-idea" id="{{idea._id}}" {% if forloop.index == 1 %}style="opacity: 1"{% endif %}>
                <div class="front">
                    <div class="actions several-items">
                        <a href="javascript:seeDetails('{{idea._id}}')" class="see-details"><i class="icon-eye"></i> Details / Claim</a>
                        <a href="javascript:follow('{{idea._id}}')" class="follow">Follow <i class="icon-add-user"></i></a>
                        <a href="javascript:pass('{{idea._id}}')" class="pass">Pass <i class="icon-trash"></i></a>
                    </div>
                    <h2>{{idea.title}}</h2>
                </div>
                <div class="back">
                    <div class="actions several-items">
                        <a href="javascript:claim('{{idea._id}}')" class="claim"><i class="icon-feather"></i> Claim</a>
                        <a href="javascript:follow('{{idea._id}}')" class="follow">Follow <i class="icon-add-user"></i></a>
                        <a href="javascript:pass('{{idea._id}}')" class="pass">Pass <i class="icon-trash"></i></a>
                    </div>
                    <h2>{{idea.title}}</h2>
                    <p>{{idea.content}}</p>
                </div>
            </section>
            {% endunless %}
        {% endfor %}
        <section class="blog-post-idea" id="end" >
            <div class="front">
                <h2>You made it to the end! &#x1F4AA;</h2>
                <a href="{{site.baseurl}}/add" class="btn add-idea">Add your own idea <i class="icon-light-bulb"></i></a>
                <!-- <img src="https://media.giphy.com/media/lD76yTC5zxZPG/giphy-downsized.gif"> -->
            </div>
        </section>
    </section>
</main>